<div class="container">
  <h1 class="alert alert-success">Personalise Project</h1>
  <form (ngSubmit)="createTask()">
    <div class="row mt-5">
      <div class="col-5">
        <input type="text" class="form-control" [(ngModel)]="newTask.description" name="newtaskDescription">
      </div>
      <div class="col-2">
        <button class="btn btn-success" type="submit">Add Task</button>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-5">
        <div *ngIf="!(tasks.length>0);else taskList">
            <h3>No Data</h3>
        </div>
      </div>
      <ng-template #taskList>
        <ul class="list-group" *ngFor="let task of tasks;">
          <li class="list-group-item">
            <div class="row">
              <div class ="col-5 bg-secondary text-light">
                <p> {{task.description}}</p>
              </div>
              <div class ="col-5">
                  EDIT | DELETE
              </div>

            </div>
          </li>
        </ul>
      </ng-template>
    </div>
  </form>
</div>






